# IntelliJ project files to ignore
.idea
*.iml

# Gradle
.gradle
.gradletasknamecache

# OSX kruft
.DS_Store
*~

#Redis
dump.rdb

# Java Build Stuff
build/
classes/
target/
out/
rebel.xml

# Node/NPM Stuff
node_modules/
jspm_packages/
*.results.json
dist
export/
npm-debug.log
gulpfile.tmp.*

# Docker-generated whatnots
tellfinder-common/data
containers/development/tmp
*.sublime-project
*.sublime-workspace

# Vagrant stuff
.vagrant

#case-management symlinks
case-management-ui-lib/src/auth-ui-lib

#ui-lib symlinks
tellfinder-*-web/src/tellfinder-core-ui-lib

# Test stuff
mocha.json
sites-backup.conf
containers/local/docker
containers/development/docker
